{
  "extends": "standard",
  "plugins": [
    "standard",
    "promise"
  ],
  "parserOptions": {
    "ecmaVersion": 5
  },
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "es6": true,
    "node": true
  }
}
