/* line 6, fixtures/input.sass */

* {
  background-color: #000;
  color: #fff;
}


/* line 10, fixtures/input.sass */

html,
body {
  width: 100%;
  height: 100%;
}


/* line 15, fixtures/input.sass */

body {
  overflow: hidden;
  font-family: "Open Sans", "Ubuntu", Arial, Verdana, Helvetica, sans-serif;
}
